

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-weight: 700; 
}

h2 {
    font-weight: 600;
}

p {
    font-weight: 400;
}

.small-text {
    font-weight: 300;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

.nav-header {
    
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo-header {
    display: flex;
    gap: 1rem;
}

#logo-header {
    color: #E63946;
    font-size: 40px;
    text-shadow: -5px 3px 5px rgba(0, 0, 0, 0.212);
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.logo-header h3 {
    color: #1D1D1D;
    font-size: 2rem;
    font-weight: 700;
    
}

.a-nav {
    font-weight: 500;
    color: #1b0e0f;
    text-decoration: none;
}

.a-reservaciones {
    font-weight: 700;
    color:#e63746;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.main{
    width: 100%;
    height: 60vh;
    position: relative;
    text-align: center;
}

.img-main {
    width: 100%;
    height: 90%;
    object-fit: cover;  
    display: block;
    filter: brightness(50%);   
}

.text-fixed {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

.text-fixed p {
    font-size: 26px;
    font-weight: 500;

}

h1 {
    font-size: 76px;
    font-weight: 800;
    margin-bottom: 15px;
}


/* Formulario de reserva */
.contenedor {
    position: relative;
}

.form {
    display: flex;
    position: absolute;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border: 2px solid #F0EDED;
    border-radius: 24px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    
}


/* Título con ícono */
.title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 32px;
}

.row-one {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
}

.row-two {
    display: grid;
    gap: 15px;
    margin-bottom: 25px;
    grid-template-columns: 2fr 1fr 1fr;
}

.part {
    margin-bottom: 12px;
}
.part label {
    display: block;
    font-size: 15px;
    color: #1D1D1D;
    font-weight: 700;
    margin-bottom: 12px;
}

.part input,
.part textarea {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}


.material-symbols-outlined {
    color: #E63946;
    font-size: 32px;
}

.form > div:first-child h2 {
    color: #1D1D1D;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

